virtualbox:
  version: 5.1

vmcloak:
  count: 10
  ipprefix: 192.168.56.
  # ipstart should be first vm-s ip-s last octet minus one
  ipstart: 100
  basename: cuckoo
  resultserver_ip: 192.168.56.1
  tags: 

# cuckoo/conf/cuckoo.conf
db:
  type: postgresql
  server: localhost
  name: cuckoo
  user: cuckoo
  password: MySuperSecretPassword
  port: 5432

# cuckoo/conf/cuckoo.conf
conf:
  resultserver_ip: 192.168.56.1
  resultserver_port: 2042
  resultserver_up_max: 4194304000
  processing_analysis_size_limit: 4194304000
  timeout_default: 200
  timeout_critical: 600
  vm_state: 120

# cuckoo/conf/reporting.conf
reporting:
  mongo:
    host: 127.0.0.1
    port: 27017
  elasticsearch:
    # This should be a comma separated list for multiple nodes
    hosts: 127.0.0.1:9200
  mattermost:
    url: https://mattermost.example.com/hooks/RandomAPIstring

# cuckoo/conf/processing.conf
processing:
  irma:
    url: https://irma.example.com
